@import './scrollbar.scss';

:root {
	--navbar-color: white; // #304156
	--header-height: 50px;
	--active-text-color: #04699d; // #409eff
	--el-menu-hover-bg-color: #f6f6f6;
}

body {
	overflow: hidden;
}
